*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: rgb(33, 219, 132);
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 237, 233);
    height: 550px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
form h1{
    position: absolute;
    margin-top: 80px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(148, 245, 148)
}
.forgetPassword{
    margin-top: 330px;
    margin-left: 170px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(81, 241, 81);
    font-size: 16px;
    border: none;
}
.forgetPassword:hover{
    cursor: pointer;
    border-bottom: 1px solid rgb(81, 241, 81)
}
.areaLogin{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 10px;

}
input{
    width: 250px;
    height: 40px;
    margin-left: 120px;
    border-radius: 20px;
    border: 1px solid rgb(148, 245, 148);
    padding-left: 15px;
}
.botaoEntrar{
    width: 250px;
    margin-left: 120px;
    margin-top: 30px;
    height: 40px;
    background-color:rgb(148, 245, 148);
    border: none;
    border-radius: 20px;
}
.botaoEntrar:hover{
    background-color:rgb(179, 255, 179);
    cursor: pointer;
}
.line{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    gap: 15px;
}
.or{
    font-family: Arial, Helvetica, sans-serif;
}
.lineLeft, .lineRight{
    width: 190px;
    border-top: 1px solid rgb(151, 151, 151);
    margin-top: 10px;
}