*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #15202B;
}
.twitter{
    color: rgb(209, 209, 209);
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 50px;
}
.partleft{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
    margin-left: 10px;
    margin: 20px;

}
.nomeconta{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.nomeprincipal{
    font-family: sans-serif;
    font-size: 22px;
}
.menus{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.menus fieldset{
    border: none;
}
.menutotal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 15px;
    font-size: 25px;
    color: white;
    width: 200px;
    height: 60px;
}
.icon ion-icon{
    width: 35px;
    height: 100px;
}
.imgprofile ion-icon{
    width: 70px;
    height: 200px;
    color: white;
}

.menus fieldset:hover{
    border-radius: 40px;
    background-color: rgba(223, 223, 223, 0.226);
    cursor: pointer;
    width: 50px;
}
.nomeid{
    color: rgb(129, 129, 129);
}
.conteudoinfoconta fieldset{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 315px;
    gap: 15px;
    font-size: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    border: none;
    
}
.conteudoinfoconta fieldset:hover{
    background-color: rgba(223, 223, 223, 0.226);
    border-radius: 100px;
    cursor: pointer;
    width: 315px;
    height: 80px;
}
.imagem{
    width: 60px;
    height:60px;
    border-radius: 50px;
}
.moreconta{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left:25px;
    font-family: sans-serif;
}
.partleft button{
    background-color:rgb(0, 153, 255);
    height: 70px;
    width: 300px;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}
.partleft button:hover{
    cursor: pointer;
    background-color:rgb(139, 209, 255)
}
.conteudocentro{
    width: 800px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    border-color:rgb(151, 151, 151);
    border-top: none;
}
.postagens{
    border-top: 1px solid rgb(117, 117, 117);
}
.infopostagem{
    height: 240px;
    color: white;
    font-family: sans-serif;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 650px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 700;
    color:rgb(224, 224, 224);
}
.toptweets{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 44px;
    width: 44px;
    margin-left: 60px;

}
.toptweets:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:rgba(110, 110, 110, 0.281);
    height: 44px;
    width: 44px;
}
.meio{
    margin-left: 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}
.perfil{
    width: 70px;
    height: 70px;
}
::placeholder{
    font-size: 28px;
}
.hometitulo:hover{
    cursor: pointer;
}
.areatweet{
    color: white;
    font-size: 20px;
    resize: none;
    font-family: sans-serif;
    margin-top: 20px;
    border: none;
    background-color: unset;
    width: 500px;
    height: 40px;
}
.final{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-left: 100px;

}
.botaotweetar{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:rgb(0, 153, 255);
    width: 100px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 20px;
    height: 50px;
    margin-left: 250px;
    color: white;
}
.botaotweetar:hover{
    cursor: pointer;
    background-color:rgb(139, 209, 255);
}
.iconepost ion-icon{
    width: 30px;
    height: 25px;
    color: rgb(73, 170, 250);
}
.iconepost{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
}
.iconepost:hover{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 153, 255, 0.13);
    height: 50px;
    width: 50px;
    border-radius: 40px;
    cursor: pointer;
}
.partleftpost{
    height: 350px;
    display: flex;
    flex-direction: column;
}
.postagem1, .postagem2{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgb(117, 117, 117);
    height: 380px;
}
.conteudopost1, .conteudopost2{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: sans-serif;
    margin: 15px;
}
.textopostagem2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.textopostagem2 fieldset{
    border-radius: 10px;
    border-color:rgb(94, 94, 94);
    
}
.postagem2{
    border: none;
}

.post02{
    margin-top: 10px;
    height: 700px;
    border-radius: 10px;
}
.infconta, .infconta2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    color: white;
    margin-right: 380px;
}
.infconta{
    margin-right: 400px;
}
.infconta2{
    width: 400px;
}
.postagem2:hover{
    background-color:rgba(206, 206, 206, 0.123);
    cursor: pointer;
    height: 877px;
}
.nameconta{
    font-size: 20px;
    font-weight: 550;
}
.ponto{
    color:rgb(129, 129, 129);
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.horapostagem{
    color:rgb(129, 129, 129);
    font-size: 20px;
}
.idconta{
    color:rgb(129, 129, 129);
    font-size: 20px;
}
.verificado ion-icon{
    color: white;
    width: 22px;
    height: 40px;
    margin-top: 5px;
}
.postagem1:hover{
    background-color:rgba(206, 206, 206, 0.123);
    cursor: pointer;
    height: 380px;
}
.tresponto, .tresponto2{
    color:rgb(129, 129, 129);
    margin-right: 10px;
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tresponto2{
    margin-left: 840px;
    position: absolute;
}
.tresponto:hover, .tresponto2:hover{
    background-color:rgba(73, 170, 250, 0.144);
    color:rgb(0, 153, 255);
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
}
.postagens{
    display: flex;
    flex-direction: column;
}
.textopostagem1, .textopostagem2{
    color: rgb(218, 218, 218);
    margin-left: 8px;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 100px;
}
.areainteracao ion-icon{
    color:rgb(129, 129, 129);
    width: 25px;
    height: 30px;
}
.curtidasinfos{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 15px;
}
.infcurtida{
    color:rgb(129, 129, 129);
}
.infcurtidas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.like{
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like ion-icon{
    color: rgb(255, 0, 85);
}
.share:hover{
    color: blue;
}
.like:hover{
    background-color: rgba(255, 0, 85, 0.062);
    color: rgb(255, 0, 85);
    border-radius: 30px;
}
.coments{
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coments ion-icon, .share ion-icon{
    color: rgb(73, 170, 250);
}
.coments:hover{
    background-color:rgba(73, 170, 250, 0.062);
    color: rgb(73, 170, 250);
    border-radius: 30px;
}
.retweet{
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.retweet ion-icon{
    color: rgb(47, 224, 150)
}
.retweet:hover{
    background-color:rgba(47, 224, 150, 0.062);
    color:rgb(47, 224, 150);
    border-radius: 30px;
}
.share{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.share:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(73, 170, 250, 0.062);
    border-radius: 30px;
    width: 40px;
}
.partright{
    font-family: sans-serif;
}
.terms{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 17px;
    color: rgb(151, 151, 151);
}
.linha1, .linha2, .linha3{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.part-right-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.terms nav:hover{
    text-decoration: underline;
    cursor: pointer;
}
.who-to-follow{
    width: 440px;
 
}
.who-to-follow fieldset{
    display: flex;
    flex-direction: column;
    height: 470px;
    background-color:rgba(151, 151, 151, 0.144);
    border: none;
    border-radius: 20px;
}

.showmore:hover{
    cursor: pointer;
    background-color: rgb(136, 136, 136, 0.178);
   
}
.who-to-follow img{
    width: 70px; 
    border-radius: 50px;
}
.perfil1{
    gap: 10px;
    align-items: center;
    display: flex; 
    flex-direction: row; 
    margin-left: 0px;
    justify-content: center;
    width: 450px;
    height: 150px;
}
.perfil1 button{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
    width: 110px;
    border-radius: 50px;
    margin-left: 110px;
    border: none;
}
.perfil1 button:hover{
    cursor: pointer;
    background-color:rgb(221, 221, 221)
}
.perfil1:hover{
    cursor: pointer;
    background-color:rgba(136, 136, 136, 0.178);
    height: 150px;
}

.nomeUsuario{
    font-family: sans-serif;
    margin-left: 10px;
    margin-bottom: 5px;
    gap: 8px;
    display: flex; 
    flex-direction: column;
}
.whats-happening fieldset{
    height: 788px;
    border-radius: 20px;
    background-color: rgb(151,151,151, 0.144);
    border: none;
}
.search fieldset{
    display: flex;
    color: rgba(219, 219, 219, 0.342);
    height: 60px;
    background-color: rgba(177, 177, 177, 0.123);
    border-radius: 40px;
    border: none;
    
}
.contentSearch{
    display: flex; 
    gap: 15px; 
    align-items: center;
    margin-left: 20px;
    font-size: 25px;
}
.SearchTwitter{
    background-color: unset;
    border: none;
    resize: none;
    font-family: sans-serif; 
    width: 300px; 
    height: 30px;
    align-items: center;
    color: white;
    font-size: 20px;
    outline: 0;
}
.SearchTwitter:hover{
    border: none;
    resize: none;
    
}
.SearchTwitter::placeholder{
    font-size: 20px;
    color: rgba(219, 219, 219, 0.342);
}
.new1{
    display: flex; 
    justify-content: left;
    height: 130px;
}
.conteudoNew{
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}
.whats-happening h1{
    color: white; 
    margin: 20px;
}
.infoNew{
    color: rgb(129,129,129);
}
.Tema{
    color: white;
}
.fonte{
    display: flex; 
    gap:5px; 
    color: rgb(129,129,129);
}
.link{
    color: rgb(0, 174, 255);
    text-decoration: none;
}
.link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.whats-happening img{
    margin-left: 50px; 
    width: 100px; 
    height: 100px; 
    border-radius: 20px;
}
.new1 > img{
    margin-top: 14px;
}
.new1 > div{
    justify-content: center;
    margin-left: 20px;
}
.new1:hover{
    background-color: rgba(136, 136, 136, 0.178);
    cursor: pointer;
}
.showmore{
    display: flex;
    color: rgb(0, 174, 255);
    font-size: 20px;
    align-items: center;
    width: 451px;
    height: 60px;
    
    border-radius: 0px 0px 20px 20px
}
.showmore nav{
    margin-left: 20px;
}
.showmore:hover{

}