*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(185, 182, 182);
    display: flex;
    justify-content: center;
    margin: 80px;
}
.caixaConteudo{
    background-color: rgb(218, 208, 208);
    width: 800px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.info{
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 500px;
    height: 420px;
    
}
.spark{
    width: 20px;
    height: 20px;
}
.sparkt{
    display: flex;
    gap: 5px;
}
.partCima{
    display: flex;
    flex-direction: row;
    gap: 290px;
    margin-left: 10px;
    width: 400px;

}
.singup:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}
.icone{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.partMeio{
    display: flex;
    justify-content: center;
    margin-left: 60px;
    font-size: 20px;
    width: 300px;
    height: 170px;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagem{
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.partBaixo{
    margin-top: 20px;
}
.botaoPreto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 95px;
    height: 50px;
    font-size: 15px;
    width: 100px;
    background-color: rgb(24, 23, 23);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.botaoPreto:hover{
    background-color: rgb(88, 88, 88);
}
.botaoBranco{
    margin-left: 210px;
    margin-top: 18px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    width: 145px;
}
.botaoBranco:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}